body {
    box-sizing: border-box;
}

.input {
    width: 600px;
}

.App {
    background-color: rgb(3, 0, 9);
    position: sticky;
    top: 0;
    background-image: url('../../public/Assets/blob-scene-haikei.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.but {
    cursor: pointer;
    width: 500px;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .but {
        width: 200px;
    }
}

@media (min-width: 576px) and (max-width: 800px) {
    .but {
        width: 400px;
    }
}