.glassmorphism-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.form-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #fff;
}

input,
button {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  color: #fff;
}

input::placeholder {
  color: #ccc;
}

button {
  cursor: pointer;
  background: linear-gradient(135deg, #6c5ce7 0%, #f55f8d 100%);
}

button:hover {
  filter: brightness(1.1);
}

p {
  text-align: center;
  color: #fff;
  cursor: pointer;
}

p:hover {
  text-decoration: underline;
}
